body {
    margin: 0;
    padding: 0;
    background-image: url(assets/spiration\ dark.png);
}
.navbar {
    height: 70px;
    background: rgb(238, 204, 119) ;
}

.navbar-brand {
    font-family: 'Monoton', cursive;
    font-weight: strong;
    font-size: 28px;
    margin-left: 100px;
   }

.navbar-nav {
    font-family: 'Monoton', cursive;
    margin-right: 140px;
}

.container {
    margin: 0;
    width:100%;
    padding: 0;
}

.jumbotron {
    width: 600px;
    height: 500px;
    position: relative;
    margin-left: 120px;
    margin-top: 20px;
    overflow: hidden;
    float: left;
}

p.lead {
    text-align: left;
}

h1 {
    top: 120;
    padding: 15px;
    text-align: center;
    font-size: 32px;
}

.jumbotron-fluid {
    padding: 0;
}

.img-responsive {
    max-height: 300px;
    padding-left:30px;
}

.sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin: 20px 100px 0 15px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  h3,
  .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 40px;
    border-bottom: 2px solid #eee;
  }

  .social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
  }
  
  .social:last-child {
    margin-right: 0;
  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    height: 40px;
    line-height: 40px;
    background: rgb(253, 232, 177) ;
    text-align: center;
    color: black;
    font-family: 'Merienda', cursive;    
}

form {
    padding: 20px;
    margin: auto;

}

div.jumbotron-portfolio {
    width: 1000px;
    position: fixed;
    margin: 20px 80px 0 85px;
    height: auto;
}

.card-img-top {
    position: relative;
    float: left;
    padding: 10px;
    width: 300px;
    height: 240px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .jumbotron {
      width: 80%;
      padding: 0;
    }
  }
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .jumbotron {
      width: 100%;
    }
  }